doctype html
html(ng-app="slingput")
  head
    title Slingput
    script(type="text/javascript" src="js/app.js")
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/app.css')
  body
    ui-view(ng-controller="app:layout")