doctype html
html
  head
    title {{pageTitle}}
  body
    h2 {{pageHeader}}
    input(type="text", placeholder="{{signupFieldPlaceholder}}", name="signupField")
    input(type="submit", value="{{signupButtonText}}")