section.section
	div.container
		div.row
			div.col-md-10.col-lg-10.col-md-offset-1.col-lg-offset-1.text-center
				input(type="text", placeholder="Enter email address", ng-model="email")
				button(ng-click="submitEmail()") Submit